<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
 http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

  <persistence-unit name="eclipselink.jpa" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jar-file>file:/home/aimir/aimiramm/aimir-project-lib/com/aimir/aimir-model/3.4-SNAPSHOT/aimir-model-3.4-SNAPSHOT.jar</jar-file>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.driver.OracleDriver" />
      <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@172.16.10.180:1521:aimir"/>
      <property name="javax.persistence.jdbc.user" value="aimir"/>
      <property name="javax.persistence.jdbc.password" value="aimir"/>
      <property name="eclipselink.ddl-generation" value="none" />
      <property name="eclipselink.ddl-generation.output-mode" value="database" />
      <property name="eclipselink.logging.level.sql" value="off"/>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <!--  Optimization #9 - statement caching -->
      <property name="eclipselink.jdbc.cache-statements" value="false" />
      <!--  Optimization #10 - batch writing -->
      <property name="eclipselink.jdbc.batch-writing" value="buffered" />
      <property name="eclipselink.jdbc.batch-writing.size" value="3200" />
      <!--  Optimization #11 - disable caching for batch insert (caching only improves reads, so only adds overhead for inserts) -->
      <property name="eclipselink.cache.shared.default" value="false" />
      <property name="eclipselink.jdbc.exclusive-connection.mode" value="Isolated"/>
      <property name="eclipselink.cache.shared.Employee" value="false"/>
      <!--  Optimization #12 - turn logging off -->
      <!-- property name="eclipselink.logging.level" value="FINE" /-->
      <property name="eclipselink.logging.level" value="off" />
      <!--  Optimization #13 - close EntityManager on commit, to avoid cost of resume -->
      <property name="eclipselink.persistence-context.close-on-commit" value="true" />
      <property name="persistence-context.commit-without-persist-rules" value="true" />
      <!--  Optimization #14 - avoid auto flush cost on query execution -->
      <property name="eclipselink.persistence-context.flush-mode" value="commit" />
      <!--  Optimization #15 - avoid cost of persist on commit -->
      <property name="eclipselink.persistence-context.persist-on-commit" value="false" />
      <property name="eclipselink.jdbc.bind-parameters" value="true" />
      <property name="eclipselink.weaving" value="static" />
    </properties>
  </persistence-unit>

</persistence>
