/*japan*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,textarea,option,button,select,span,input,a{ 
	font-size:12px;
	font-family: "meiryo ui", MS Gothic, MS PGothic, Osaka, "ヒラギノ角ゴ Pro W3", Arial, Tahoma,  sans-serif !important;
    }
a  { 
    text-decoration:none;
    color:#434343;
    }
a:hover{
    text-decoration:none;
    color:#0f7cd0
    }