@charset "UTF-8";

/*
* Common CSS of the print out things.
 */

span {  float:none;  }

tr {  height: 20px;   color:#000;  }

td {  color:#000;  }

#receipt-form td {  padding: 5px;  }

td.td-table {  padding: 5px;  }

div.contents-wrapper {  border:1px solid black;  width:calc(100% - 2px);  }

div#receipt-form {  font-size: 12pt;  padding: 10px;  width: 280px;  }

img.logo {  width: 100px;  height: 85px;  }

table.inner-table {  table-layout: fixed;  word-break: break-all;  border: #000 1px solid;  }

table.inner-table td {  padding-left: 10px  }

table.inner-table td.table-header {  text-align: center;  padding:0px;  }

table.inner-table td.table-value {  text-align: right;  padding-right: 10px;  }