<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Configurer that replaces ${...} placeholders with values from a properties file -->
    <!--
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    -->
    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
      <property name="driverClass" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="jdbcUrl" value="jdbc:derby://187.1.10.28:1527/aimirdb"/>
      <property name="username" value="aimir"/>
      <property name="password" value="aimir"/>
      <property name="idleConnectionTestPeriodInMinutes" value="5"/>
      <property name="idleMaxAgeInMinutes" value="60"/>
      <property name="maxConnectionsPerPartition" value="5"/>
      <property name="minConnectionsPerPartition" value="2"/>
      <property name="partitionCount" value="3"/>
      <property name="acquireIncrement" value="1"/>
      <property name="statementsCacheSize" value="100"/>
    </bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="testTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="AiMiR.Event"/>
    </bean>
    
    <bean id="testQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="AiMiR.Event"/>
    </bean>
    
    <bean id="mqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL">
            <value>tcp://187.1.10.28:61616</value>
        </property>
    </bean>

    <bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="mqConnectionFactory"/>
        <property name="reconnectOnException" value="true"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
    </bean>
</beans>