#jdbc.url=jdbc:ha-jdbc:cluster1;
#jdbc.url=jdbc:derby://211.232.103.228:1527//disk1/aimir/javadb1;

################## Derby  #####################
#hibernate.dialect=org.hibernate.dialect.DerbyDialect
# init (update), operating (validate)
#hibernate.hbm2ddl.auto=update
#jdbc.driverClassName=org.apache.derby.jdbc.ClientDriver
# Seocho BEMS
#jdbc.url=jdbc:derby://222.106.33.29:1527/javadb;
#jdbc.url=jdbc:derby://187.1.10.58:1527//disk1/aimir/javadb1;
#jdbc.url=jdbc:derby://187.1.10.71:1527//home/aimir/japandb
#jdbc.url=jdbc:derby://localhost:1527/javadb;
#jdbc.username=aimir
#jdbc.password=aimirdb
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10

################## ORACLE #####################
#hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
#hibernate.hbm2ddl.auto=update
#jdbc.driverClassName=oracle.jdbc.driver.OracleDriver
#jdbc.url=jdbc:oracle:thin:@187.1.10.62:1521:ORCL
#jdbc.username=aimir3
#jdbc.password=aimir3
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10

################# MS SQL Server ###############
#hibernate.dialect=org.hibernate.dialect.SQLServerDialect
#hibernate.hbm2ddl.auto=update
#jdbc.driverClassName=net.sourceforge.jtds.jdbc.Driver
#jdbc.url=jdbc:jtds:sqlserver://187.1.10.72:1433/aimirdb
#jdbc.username=aimir
#jdbc.password=aimir
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10

#hibernate.dialect=org.hibernate.dialect.DerbyDialect
#hibernate.connection.driver_class=org.apache.derby.jdbc.ClientDriver
#hibernate.connection.url=jdbc:derby://187.1.10.58:1527//disk1/aimir/javadb1;create=true;
#hibernate.connection.username=aimir
#hibernate.connection.password=aimirdb

#jdbc.driverClassName=org.apache.derby.jdbc.ClientDriver
#jdbc.url=jdbc:derby://187.1.10.58:1527//disk1/aimir/javadb1;create=true;
#jdbc.username=aimir
#jdbc.password=aimirdb
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10

################## local oracle ######################
#hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
#hibernate.connection.driver_class=oracle.jdbc.driver.OracleDriver
#hibernate.connection.url=jdbc:oracle:thin:@192.168.0.72:1521:orcl
#hibernate.connection.username=aimir
#hibernate.connection.password=aimir
#hibernate.hbm2ddl.auto=update

#jdbc.driverClassName=oracle.jdbc.driver.OracleDriver
#jdbc.url=jdbc:oracle:thin:@192.168.0.72:1521:orcl
#jdbc.username=aimir
#jdbc.password=aimir
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10

################## local ######################
hibernate.dialect=org.hibernate.dialect.DerbyDialect
hibernate.connection.driver_class=org.apache.derby.jdbc.ClientDriver
hibernate.connection.url=jdbc:derby://localhost:1527/S:/07_aimir_workspace/derby/javadb_iraq_moe;create=true;
hibernate.connection.username=aimir
hibernate.connection.password=aimir

jdbc.driverClassName=org.apache.derby.jdbc.ClientDriver
jdbc.url=jdbc:derby://localhost:1527/S:/07_aimir_workspace/derby/javadb_iraq_moe;create=true;
jdbc.username=aimir
jdbc.password=aimir
jdbc.minimumIdleSize=1
jdbc.maximumSize=10

#hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
#hibernate.connection.driver_class=org.postgresql.Driver
#hibernate.connection.url=jdbc:postgresql://187.1.10.58:5432/aimir
#hibernate.connection.username=aimir
#hibernate.connection.password=aimiramm

#jdbc.driverClassName=org.postgresql.Driver
#jdbc.url=jdbc:postgresql://187.1.10.58:5432/aimir
#jdbc.username=aimir
#jdbc.password=aimiramm
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10

#hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
#hibernate.connection.driver_class=oracle.jdbc.driver.OracleDriver
#hibernate.connection.url=jdbc:oracle:thin:@localhost:1521:xe
#hibernate.connection.username=aimir
#hibernate.connection.password=aimir
#
#jdbc.driverClassName=oracle.jdbc.driver.OracleDriver
#jdbc.url=jdbc:oracle:thin:@localhost:1521:xe
#jdbc.username=aimir
#jdbc.password=aimir
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10

#hibernate.dialect=org.hibernate.dialect.MySQLDialect
#hibernate.hbm2ddl.auto=update
#jdbc.driverClassName=com.mysql.jdbc.Driver
#jdbc.url=jdbc:mysql://localhost:3306/aimir
#jdbc.username=aimir
#jdbc.password=aimir
#jdbc.minimumIdleSize=1
#jdbc.maximumSize=10
