<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %C{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="install.log"/>
        <param name="Append" value="false"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="1"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p - %C{1}.%M(%L) | %m%n"/>
        </layout>       
    </appender>
  
    <logger name="org.hibernate">
        <level value="INFO"/>
    </logger>

    <logger name="org.hibernate.SQL">
        <level value="INFO"/>
    </logger>

    <logger name="org.dbunit">
        <level value="DEBUG"/>
    </logger>
    
    <logger name="org.eclipse">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>
   
    <logger name="com.aimir">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>